
body {
    background-color: #1d1d1d;
}

header {
    height: 80vh;
    background-image: linear-gradient(
        to right bottom,
        rgba(218, 11, 94, 0.714),
        rgba(111, 0, 237, 0.705)
    ), 
    url(/images/cycleman.jpeg);
    background-size: cover;
    background-position: top;
    clip-path: polygon(100% 2%, 100% 62%, 81% 81%, 0 61%, 0 0);
}

header h1 {
    color: #fff;
    padding-top: 15%;
    padding-left: 15%;
}