*{
    margin: 0px;
    padding: 0px;
}

body{
    margin: 0px;
    padding: 0px;
    display: flex;
    flex-direction: column;
}

.header{
    display: flex;
    padding: 15px;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid lightgray;
    position: sticky;
}

.header_start img{
    height: 25px;
    margin-left: 10px;
}

.header_start{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    justify-content: center;
}

.header_middle {
    display: flex;
    background-color: #f1f1f1;
    align-items: center;
    border-radius: 10px;
    padding: 5px 10px;
    width: 50%;
}

.header_end {
    display: flex;
    align-items: center;
    justify-content: center;
}

.header_option{
    color: gray;
    border-radius: 50%;
    padding: 5px 7px;
}

.header_option:hover{
    color: black;
    background-color: whitesmoke;
}

.header_middle input{
    background-color: transparent;
    border: none;
    outline: none;
    margin-left: 5px;
    width: 100%;
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
}

.header_middle .drop_down_search{
    margin-left: 500px;
}

.compose_button{
    display: flex;
    margin: 20px;
    align-items: center;
    color: gray;
    border: 1px solid lightgray;
    width: fit-content;
    padding: 5px 10px;
    border-radius: 50px;
    box-shadow:0px 2px 5px -2px rgb(0 0 0 / 75%);
}

.compose_button .material-icons{
    margin-right: 5px;
    color: gray;
    font-size: xx-large;
    font-weight: 600;
}

.compose_button h3{
    font-size: large;
}

.compose_button:hover{
    background-color: whitesmoke;
    transform: translateY(-2px);
    box-shadow: 2px 2px 2px 1px rgba(168, 168, 168, 0.75);
    color: black;
}

.sidebar_options{
    /* border: 1px solid black; */
    width: 100%;
    display: flex;
    flex-direction: column;
    color: gray;
    /* width: 25%; */
}

.sidebar_options .active{
    background-color: #ffd7d7;
    color: #D82E2F;
}

.meet_options{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px;
    color: gray;
}

.meet_options .siderbar_option{
    margin: 0 20px;
    padding: 5px;
    border-radius: 50%;
}

.meet_options .siderbar_option:hover{
    background-color: whitesmoke;
    color: black;
}

.body_left{
    /* border: 1px solid blue; */
    /* width: fit-content; */
    margin-left: 20px;
    flex: 0.33;
    position: sticky;
    /* border-right: .5px solid lightgray; */
}

.sidebar_option{
    /* border: 1px solid red; */
    display: flex;
    /* margin: 10px; */
    align-items: center;
    padding: 10px;
    border-radius: 50px;
}
.sidebar_option:hover{
    background-color: #ffd7d7;
    color: #D82E2F;
}

.sidebar_option .material_icons{
    margin-right: 5px;
}

.sidebar_option h3{
    margin-left: 20px;
    font-size:medium;

}


.body_right{
    flex: 1;
}

.gmail_body{
    display: flex;
}

.body_right_header{
    /* border: 1px solid red; */
    display: flex;
    justify-content: space-between;
    margin: 0 10px;
    color: gray;
}

.body_right_header .left_side{
    display: flex;
    align-items: center;
}

.body_right_header .right_side{
    display: flex;
    align-items: center;
}


.body_header_option{
    margin-right: 10px;
    padding: 5px;
    border-radius: 50%;
}

.body_header_option:hover{
    background-color: whitesmoke;
    color: black;
}

.inbox_options{
    /* border: 1px solid green; */
    display: flex;
    color: gray;
    margin: 0px 10px;
    /* padding: 5px 0; */
    
}

.inbox_option{
    /* border: 1px solid red; */
    display: flex;
    height: 100%;
    padding: 15px 40px;
    align-items: center;
    /* justify-content: space-evenly; */
    width: 15%;
}

.inbox_options .active{
    background-color: whitesmoke;
    color: #D82E2F;
    border-bottom: 3px solid #D82E2F;
}

.inbox_option:hover{
    background-color: whitesmoke;
    color: #D82E2F;
}

.inbox_option h4{
    margin-left: 20px;
    font-size: 15px;
}

.mails{
    display: flex;
    flex-direction: column;
}

.mail{
    /* border: 1px solid red; */
    display: flex;
    justify-content: space-between;
    margin: 0 10px;
    align-items: center;
    border-top: 1px solid lightgray;
    border-bottom: 1px solid lightgray;
    padding: 10px;
}

.mail:hover{
    box-shadow: 0 5px 2px -2px rgba(0,0,0,0.25);
}

.mail_left{
    display: flex;
    align-items: center;
    color: gray;
    font-size: small;
}

.mail_center{
    display: flex;
    align-items: center;
    font-size: small;
}

.mail_right{
    display: flex;
    align-items: center;
    font-size: small;
}

.mail_option{
    margin: 0 5px;
    padding: 2px;
    border-radius: 50%;
}

.mail_option:hover{
    background-color: whitesmoke;
    color: black;
}