*{
    margin: 0;
    padding: 0;
}

body{
    background-color: #f3f2ef;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header_left img{
    object-fit: contain;
    height: 35px;
    margin-right: 10px;
}

.header{
    display: flex;
    width: 100%;
    position: sticky;
    z-index: 999;
    top:0;
    justify-content: space-evenly;
    border-bottom: 0.1px solid lightgray;
    padding: 10px;
    background-color: white;
}

.header_left{
    display: flex;
    align-items: center;
}

.header_right{
    display: flex;
}

.header_search{
    display: flex;
    padding: 5px;
    align-items: center;
    border-radius: 5px;
    height: 22px;
    color: gray;
    background: #eef3f8;
}

.header_left input{
    border: none;
    outline: none;
    background: none;

}

.headerOption{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 20px;
    color: gray;
    cursor: pointer;
    /* justify-content: space-evenly; */
}

.headerOption:hover{
    color: black;
}

.headerOption h3{
    font-weight: 400;
    margin-top: 10px;
    font-size: 15px;
}

.headerOption headerOption_icon{
    margin-right: 5px;
    height: 20px;
    width: 20px;
}


/* Main body */
.body_main {
    display: flex;
    margin-top: 35px;
    max-width: 1200px;
    margin-left: 20px;
    margin-right: 20px;
}


/* sidebar */
.sidebar {
    position: sticky;
    top: 80px;
    flex: 0.2;
    border-radius: 10px;
    text-align: center;
    height: fit-content;
    /* margin-top: 30px; */
}

.sidebar_top_img {
    margin-bottom: -20px;
    width: 100%;
    height: 60px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    object-fit: cover;
}

.sidebar_top {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid lightgray;
    border-bottom: 1px solid gray;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    background-color: white;
    padding-bottom: 10px;
}

.sidebar_topAvatar{
    font-size: 45px;
}

.sidebar_top h2{
    font-size: 18px;

}

.sidebar_top h4{
    color: gray;
    font-size: 12px;
    margin-top: 5px;
}

.sidebar_stats {
    background: white;
    border: 1px solid lightgray;
    /* margin-bottom: 20px; */
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.sidebar_stat{
    margin-top: 10px;
    display: flex;
    justify-content: space-evenly;
    padding-bottom: 5px;
}

.sidebar_stat{
    color: gray;
    font-size: 15px;
    font-weight: 600;
}

.sidebar_statNumber{
    font-weight: bold;
    color: #0a66c2;
}


.sidebar_bottom{
    text-align: left;
    padding: 10px;
    background-color: #fff;
    border: 1px solid lightgray;
    border-radius: 10px;
    margin-top: 10px;
}

.sidebar_bottom{
    display: flex;
    flex-direction: column;
}

.sidebar_bottom p{
   font-size: 15px;
   font-weight: bold;
   padding-bottom: 10px;
}

.sidebar_recentItems{
    display: flex;
    font-size: 13px;
    color: gray;
    font-weight: bolder;
    margin: 5px;
    padding: 5px;
    cursor: pointer;
}

.sidebar_recentItems:hover{
    background-color: whitesmoke;
    border-radius: 10px;
    cursor: pointer;
    color: black;
}

.sidebar_hash{
    margin: 0 10px;
}

/* Feed section */
.feed{
    flex: 0.6;
    margin: 0 20px;
}

.feed_inputContainer{
    background-color: white;
    padding: 10px;
    padding-bottom: 20px;
    border-radius: 10px;
    margin-bottom: 20px;
}

.feed_input{
    display: flex;
    border: 1px solid lightgray;
    border-radius: 30px;
    padding: 10px;
    color: gray;
    padding-left: 15px;
}

.feed_input form{
    display: flex;
    width: 100%;
}

.feed_input form input{
    border: none;
    flex: 1;
    margin-left: 10px;
    outline-width: 0;
    font-weight: 600;
}

.inputOptions{
    display: flex;
    justify-content: space-evenly;
}

.inputOption{
    display: flex;
    align-items: center;
    margin-top: 15px;
    color: gray;
    padding: 10px;
    cursor: pointer;
}

.inputOption:hover{
    background-color: whitesmoke;
    border-radius: 10px;
}

.inputOption h4{
    margin-left: 5px;
}