body {
    background-image: url(/images/bg.png);
    background-position: center;
    background-size: cover;
    height: 100vh;
    margin: 0 5%;
}

nav {
    display: flex;
    flex-direction: row;
    height: 20vh;
}

.nav-link{
    text-decoration: none;
    color: #fff;
    font-size: 25px;
}

nav .nav-menu-icon {
    display: none; 
}

nav .nav-items {
    display: flex;
    flex: 2;
    justify-content: space-between;
    align-items: center;
    list-style-type: none;
}

.brand-image {
    flex: 1;
    margin: auto;
}

.nav-logo {
    display: block;

}

.brand-image img{
    height: 80px;
}

.nav-button {
    background-color: #5A20CB;
    border: none;
    padding: 5px 40px;
    border-radius: 10px;
    cursor: pointer;
}

.container {
    display: flex;
    flex-direction: row;
    flex: 1;
    height: 80vh;
}

.col {
    display: flex;
    flex: 0.5;
    min-height: 100%;
}

.col-2 {
    overflow: hidden;
}

.phone-img {
    position: absolute;
    bottom: 0;
    right: 0;
    height: 80%;
}

.col-1 {
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    color: #fff;
}

.col-1 p {
    font-size: 25px;
}

.col h1 {
    font-size: 75px;
    margin: 20px 0;
}

.google-play-image {
    height: 90px;
}

@media screen and (max-width: 1230px) {
    .phone-img {
        height: 60%;
    }
    
    nav .nav-items {
        display: none;
    }

    nav .nav-menu-icon {
        display: block;
        margin: auto;
    }

    nav .nav-menu-icon i {
        color: #fff;
        font-size: 30px;
    }

    .col-1 {
        align-items: center;
    }
}

@media screen and (max-width: 900px) {
    .phone-img {
        display: none;
    }
    .google-play-image {
        height: 50px;
    }
}