* {
    color: #fff;
    box-sizing: border-box;
    font-family: sans-serif;
}

html {
    background: linear-gradient(90deg, #00D84A, #02B290);
    font-size: 20px;
    min-height: 100vh;
}

.container {
    max-width: 95%;
    padding: 10px;
    margin: auto;
    border: #fff solid 1px;
}

.container div {
    background-color:  rgba(35, 197, 237, 0.75);
    border: 1px solid #fff;
    padding: 20px;
    margin: 10px;
    text-align: center;

    transition: all 125ms ease-in-out;
}
.container div:hover {
    background-color: rgb(224, 59, 139, 0.75);
}