@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;900&family=Oswald:wght@200;700&family=Roboto:ital,wght@0,400;1,900&display=swap');

*{
    padding: 0;
    margin: 0;
    outline: 0;
}

body {
    background: #d5d5d5;
    height: 100vh;
    font-family: 'roboto', sans-serif;
}

main {
    display: grid;
    grid-template-columns: 1fr 1fr;
    position: relative;
    height: 100%;
}

.flex {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.yellow-blob {
    position: absolute;
    height: 500px;
    top: 0;
    left: 0;
    z-index: -1;
    margin: 0;
}

.mobile {
    height: 500px;
}

.form {
    width: 100%;
}

.flex-column {
    /* display: flex; */
    flex-direction: column;
}

.form-section {
     justify-content: flex-start;
     align-items: flex-start;
     margin-top: 50px;
     width: 75%;
     color: #343333;
     text-transform: capitalize;   
}

input {
    font-size: 20px;
    padding: 10px 30px;
    border-radius: 10px;
    border: 1px solid #a7a7a7;
    margin-bottom: 15px;
    width: 100%;
    margin-right: 10px;
}

.row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    /* width: 100%; */
}

.btn {
    width: 100%;
    padding: 10px 0px;
    font-size: 20px;
    color: #fff;
    background-color: #f59e2e;
    border: none;
    outline: none;
    margin-bottom: 15px;
    border-radius: 8px;
}

.btn:hover {
    background-color: #E07C24;
}

.btn-facebook {
    background-color: #383CC1;
}

.btn-twitter {
    background-color: #1B98F5;
}

.btn-facebook:hover {
    background-color: #3944F7
}

.btn-twitter:hover {
    background-color: #23C4ED;
}

.divider {
    font-size: 25px;
    margin-bottom: 5px;
}

h1 {
    margin-bottom: 5px;
    font-size: 40px;
    font-weight: 400px;
    align-self: center;
}

@media screen and (max-width: 800px) {
    .form-section {
        padding: 20px 30px;
    }
    .row {
        flex-direction: column;
    }

    main {
        margin-right: 10px;
    }

    .mobile {
        height: 400px;
    }
}

@media screen and (max-width: 600px) {
    .form-section {
        padding: 20px 30px;
    }
    .row {
        flex-direction: column;
    }

    .form-section {
        align-self: center;
    }

    .mobile {
        display: none;
    }

    main {
        grid-template-columns: 1fr;
    }


    /* .btn {
        width: 50%;
        align-self: center;
    }

    .flex-column {
        
    } */
}