*{
    margin: 0;
}

.header_left img {
    height: 40px;
}

.user_avatar{
    border-radius: 50%;
    height: 45px;
}

.header{
    display: flex;
    padding: 15px 25px;
    justify-content: space-between;
    position: sticky;
    top: 0;
    background-color: white;
    z-index: 10; 
    box-shadow: 0 5px 8px -9px rgba(0,0,0,0.75);
}

.header_left{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.header_input{
    display: flex;
    align-items: center;
    background-color: #eff2f5;
    padding: 10px;
    border-radius: 999px;
    margin-left: 10px;
}

.header_input input{
    border: none;
    background: none;
    background-color: transparent;
    outline-width: 0;
}

.header_middle {
    display: flex;
    justify-content: center;
}

.header_right{
    display: flex;
}

.header_info{
    display: flex;
    align-items: center;
}

.header_option .material-icons {
    color: gray;
    font-size: xx-large
}

.header_option .material-icons:hover {
    color: #2e81f4;
    /* font-size: xx-large */
}

.header_option{
    display: flex;
    align-items: center;
    padding: 0 30px;
    cursor: pointer;
}

.header_option.active .material-icons {
    color: #2e81f4;
    /* border-bottom: 4px solid #2e81f4; */
}

.header_option.active{
    border-bottom: 4px solid #2e81f4;

}

.header_option:hover {
    background-color: #effef5;
    border-radius: 10px;
    align-items: center;
    padding: 0 30px;
    border-bottom: none;
}

.header_info{
    display: flex;
    align-items: center;
}

.header_info h4{
    margin-left: 10px;
}

.header_right{
    display: flex;
    align-items: center;
}

.header_right .material-icons{
    color: gray;
    margin: 0 10px;
    cursor: pointer;
}
