*{
    margin: 0;
}

.header_left img {
    height: 40px;
}

.user_avatar{
    border-radius: 50%;
    height: 45px;
}

.header{
    display: flex;
    padding: 15px 25px;
    justify-content: space-between;
    position: sticky;
    top: 0;
    background-color: white;
    z-index: 10; 
    box-shadow: 0 5px 8px -9px rgba(0,0,0,0.75);
}

.header_left{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.header_input{
    display: flex;
    align-items: center;
    background-color: #eff2f5;
    padding: 10px;
    border-radius: 999px;
    margin-left: 10px;
}

.header_input input{
    border: none;
    background: none;
    background-color: transparent;
    outline-width: 0;
}

.header_middle {
    display: flex;
    justify-content: center;
}

.header_right{
    display: flex;
}

.header_info{
    display: flex;
    align-items: center;
}

.header_option .material-icons {
    color: gray;
    font-size: xx-large
}

.header_option .material-icons:hover {
    color: #2e81f4;
    /* font-size: xx-large */
}

.header_option{
    display: flex;
    align-items: center;
    padding: 0 30px;
    cursor: pointer;
}

.header_option.active .material-icons {
    color: #2e81f4;
    /* border-bottom: 4px solid #2e81f4; */
}

.header_option.active{
    border-bottom: 4px solid #2e81f4;

}

.header_option:hover {
    background-color: #effef5;
    border-radius: 10px;
    align-items: center;
    padding: 0 30px;
    border-bottom: none;
}

.header_info{
    display: flex;
    align-items: center;
}

.header_info h4{
    margin-left: 10px;
}

.header_right{
    display: flex;
    align-items: center;
}

.header_right .material-icons{
    color: gray;
    margin: 0 10px;
    cursor: pointer;
}

/* sidebar */
.sidebarRow {
    display: flex;
    align-items: center;
    padding: 10px;
    cursor: pointer;
}

.sidebarRow:hover{
    background-color: lightgray;
    border-radius: 10px;
}

.sidebarRow h4{
    margin-left: 20px;
    font-weight: 600;
}

.sidebarRow .material-icons{
    font-size: xx-large;
    color: #2e81f4;
}

.story {
    height: 200px;
    width: 120px;
    position: relative;
    background-repeat: no-repeat;
    background-size: cover;
    box-shadow: 0px 5px 17px -7px rgba(0, 0, 0, 0.75);
    border-radius: 10px;
    margin-right: 10px;
    cursor: pointer;
    transition: transform 100ms ease-in;
}

.story:hover{
    transform: scale(1.07);
}

.story_avatar{
    margin: 10px;
    border: 4px solid #1B98F5;
    height: 40px
}

.story h4{
    position: absolute;
    bottom: 20px;
    left: 20px;
    color: white;
}

.storyReel{
    display: flex;
    padding: 10px 0;
}

.main_body{
    display: flex;
}

body{
    background-color: #f1f2f5;
}

.feed{
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 1;
    justify-content: center;
    padding: 30px 50px;
}

.sidebar{
    padding: 25px 10px;
    flex: 0.33;
}

/* post creator */

.post-creator{
    display:flex;
    flex-direction:column;
    margin-top: 30px;
    border-radius: 15px;
    background-color: white;
    box-shadow: 0 5px 7px -7px rgba(0,0,0,0.75);
    width: 100%;
}
   
.post-creator-top{
    display: flex;
    align-items: center;
    border-bottom: 1.5px solid #eff2f5;
    padding: 15px;
}

.post-creator form{
    background-color: #eff2f5;
    width: 100%;
    padding: 10;
    border-radius: 999px;
    margin-left: 10px;
}

.post-creator-top input{
    background: transparent;
    border: none;
    outline-width: 0;
    width: 100%;
}

.post-creator-bottom {
    display: flex;
    justify-content: space-evenly;
    padding: 5px 0;
}

.post-creator-options {
    display: flex;
    align-items: center;
    padding: 5px 10px;
}

.post-creator-options:hover {
    background-color: #eff2f5;
    border-radius: 20px;
    cursor: pointer;
}

.post-creator-options .material-icons{
    font-size: 30px;
    margin-right: 10px;
}

.post-creator-options h3{
    color: gray;
    font-size: medium;
}

/* post */

.post{
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-top: 15px;
    border-radius: 20px;
    background-color: white;
    box-shadow: 0px 5px 7px -7px rgba(0,0,0,0.75);
}

.post-top{
    display: flex;
    padding: 5px 0;
    margin-left: 20px;
    margin-top: 10px;
}

.post-top .post_top_info{
    margin-left: 10px;
}

.post-top .post_top_info p{
    color: gray;
}

.post_bottom{
    margin: 25px 0;
    margin-left: 25px;
    padding: 5px;
}

.post_image{
    width: 100%;
    height: 100%;
}

.post_options{
    display: flex;
    justify-content:space-evenly;
    color: gray;
    padding: 5px;
    border-top: 1px solid lightgray;
}

.post_option{
    display: flex;
    align-items:center;
    padding: 15px 15px;
    border-radius: 20px;
}
.post_option:hover{
    background-color: #eff2f5;
}

.post_option h3{
    margin-left: 10px;
    font-size: medium;
}

@media (max-width: 768px) {
    .sidebar{
        display: none;
    }

    .header input{
        display: none;
    }

    .header_middle{
        display: none;
    }

    .header_info{
        display: none;
    }

    .widget{
        display: none;
    }

    .feed{
        width: 100%;
        padding: 0;
        
    }
}